* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.bmi-calculator {
    width: 800px;
    height: 500px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.box{
    width: 300px;
    background-image: url("./Img/2.avif");
    background-repeat: no-repeat;
    background-position: center;
}
.data{
    flex: 1;
    padding: 15px;
}
h1{
    font-weight: 500;
    margin-bottom: 20px;
    padding: 10px 0px;
    text-transform: uppercase;
    font-size: 20px;
    color: #2980b9;
}
.input-container{
    margin-bottom: 15px;

}
label{
    display: block;
    margin-bottom: 5px;
    color: #888;
}