*{
    background-color: rgb(148, 146, 146);
}


.name{
    color: brown;
}
.name1{
    color: blue;
}
.code{
    color: rgb(118, 0, 139);
}
.student table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 300px;
    margin-bottom: 10px;
    padding: 5px 10px;

}
.student table td,
.student table th{
    text-align: left;
    border: 1px solid #ccc;
}
.student table th {
    width: 100px;
}