
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* *{
    background-color: rgb(148, 146, 146);
} */


/* .name{
    color: brown;
}
.name1{
    color: blue;
}
.code{
    color: rgb(118, 0, 139);
}
.student table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 300px;
    margin-bottom: 10px;
    padding: 5px 10px;

}
.student table td,
.student table th{
    text-align: left;
    border: 1px solid #ccc;
}
.student table th {
    width: 100px;
} */

*{
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}
.UserImg{
    width: 100px;
    height: 100px;
    border: 3px solid #e3e6e8;
    border-radius: 50%;
    padding: 7px;
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0;
}
h3{
    margin: 10px 0;
}
h6{
    margin: 5px 0;
    text-transform: uppercase;
}

p{
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}
.card-container{
    background-color: #353b48;
    border-radius: 5px;
    box-shadow:  0px 10px 20px -10px rgba(0, 0, 0, 0.75);
   color: #b3b8cd;
  padding-top: 30px;
  width: 350px;
  max-width: 100%;
  text-align: center;
  position: relative;
}
.pro{
    color: #231e39;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.online{
    background-color: greenyellow;
}
.offline{
    background-color: #febb0b;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
button.primary{
    background-color: rgb(61, 169, 236);
    border: 1px solid rgb(61, 169, 236);
    border-radius: 3px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    padding: 10px 25px;
}
button.primary.outline{
    background-color: transparent;

}
.skills{
    background-color: #353b48;
    text-align: left;
    padding: 15px;
    margin-top: 15px;
}
.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills  ul li {
    border: 1px solid #595180;
    display: inline-block;
    padding: 7px;
    border-radius: 2px;
    margin: 0 7px 7px 0;
    font-size: 12px;
}